@model Rental2.ViewModels.PropertyIndexData

@{
    ViewData["Title"] = "Index";
}

<h2>Payments Home</h2>

<p>
    @*Partial View of bills outstanding
    *@

</p>
<table class="table">
    <tr>
        <th>
            Tenant Name
        </th>
        <th>
            Payment ID
        </th>
        <th>
            Payment Amount
        </th>
        <th>
            Bill Total
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Bills)
    {
        @foreach (ApplicationUser item2 in ViewBag.items)
        {
            @foreach (RentalUserConnection history in item2.RentalHistory)
            {
                if (item.YearlyRentalId == history.YearlyRentalId)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                    </tr>
                    @foreach (Payment payment in history.YearlyRental.Payments)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => payment.Tenant.UserName)</td> 
                            <td>@Html.DisplayFor(modelItem => payment.PaymentAmount)</td> 
                            <td>@Html.DisplayFor(modelItem => payment.DateTimeReceived)</td> 
                        </tr>
                    }

                }
            }}
    }
</table>
