@model Rental2.Components.TenantNav.ViewModel

@if (Model.NavigationItems != null)
{
<nav>
    <ul>
        UserName <li>@Model.NavigationItems.CurrentUser.UserName</li>
        Address <li>@Model.NavigationItems.UserProperty.Address</li>
        Current Bill<li>@Model.NavigationItems.CurrentBill.Amount <br /> @Model.NavigationItems.CurrentBill.DueDate</li>
        Balance Owed<li>@Model.NavigationItems.BalanceRemaining</li>
    </ul>
</nav>
}
else
{
    <nav>
        <ul>
            UserName <li>@Model.BaseNavItems.CurrentUser.UserName</li>
            <li>Thank You for signing up.</li>
            <li>We hope to rent with you soon!</li>
        </ul>
    </nav>
}


